/*001*/
main {
  background-image: url(Multimedia/soprano.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: #000000;
}

/*001*/
p {
  color: white;
}

/*001*/
video {
  margin: auto;
}