/* 001 */
body {
    font-family: Optima, sans-serif;
    font-size: 1em;
    line-height: 1.8;
    color: black;
    background-color: white;
    text-align: justify;
    margin: auto;
    width: 90%;
}

/* 001 */
header {
    background-color: #B00101;
    border-radius: 1em;
    margin-bottom: 2%;
}


/* 001 */
h1, h2, h3, h4 {
  font-weight: bold;
  background-color:#ffffff;
  color: #B00101;
  text-transform: uppercase;  
}


/* 011 */
a:link {
    color: #B00101;
    text-decoration-line: none;
}

/* 011 */
a:visited {
    color: #B00101;
    text-decoration-line: none;
}

/* 001 */
h1 {
    font-size: 3em;
    background-color:#B00101;
    color: #ffffff;
    border-radius: 0.3em;
    text-align: center;
    margin: 0.1em;
}

/* 001 */
h2 { 
    font-size: 2em;
}

/* 001 */
h3 { 
    font-size: 1.5em; 
}

/* 001 */
h4 { 
    font-size: 1.3em; 
}

/* 001 */
ul {
    list-style-type: circle;
    margin-left: 2%;
}

/* 001 */ /*011*/
video, img.img_css {
    margin-left: 2%;
    margin-right: 2%;
    width: 30%;
    height: 30%;
  }