main {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap: 10px;
    grid-auto-rows: 100px;
    grid-template-areas: "a b c";
    background-color: gray;
    color: white;
}

p.item1 {
    grid-area: "a";
}

p.item2 {
    grid-area: "b";
}

p.item3 {
    grid-area: "c";
}