/*001*/
body {
    font-family: Optima, sans-serif;
    color: black;
    background-color: white;
    margin: 10px;
    align-content: center;
}

/*001*/
h1 {
    text-align: center;
}

/*001*/
table {
    padding: 1em;
    border-radius: 1em;
    background-color: lavender;
    margin: 20px;
}

th, td {
    padding: 0.5em;
}


/*001*/
input {
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: floralwhite;
    margin: 1%;
    height: 40em;
    width: 15em;
}

.add {
    width: 16em;
    height: 5em;
    background-color: indigo;
    color: white;
}