/*001*/
body {
    font-family: Optima, sans-serif;
    color: black;
    background-color: floralwhite;
    margin: 10px;
    align-content: center;
}

/*001*/
form {
    border-radius: 0.5em;
    padding: 1em;
    background-color: lightgrey;
    margin-bottom: 20px;
    width: 20em;
}

/*001*/
div {
    padding: 0.5em;
}

/*001*/
button, input {
    padding: 0.5em;
    border-radius: 0.3em;
    width: 4em;
    height: 3em;
    background-color: #DCDCDC;
}

/*010*/
.result {
    margin: 3%;
    background-color: white;
    width: 20em;
}

/*010*/ /*010*/ /*010*/ /*100*/ /*100*/
.m, .op, .bracket, #equals, #delete {
    background-color: darkgrey;
}

/*010*/
.m {
    color: white;
}

/*100*/
#equals {
    width: 8em;
}