/*001*/
body {
    font-family: Optima, sans-serif;
    color: black;
    background-color: white;
    margin: 10px;
    align-content: center;
}

/*001*/
h1 {
    text-align: center;
    background-color: lightpink;
    font-size:2em;
    padding: 1em;
    border-radius: 0.5em;
    margin-bottom: 50px;
}

/*001*/
input {
    width: 50em;
    height: 3em;
    border-radius: 0.2em;
}

h2 {
    font-size:1.5em;
}

/*001*/
footer {
    margin-top: 50px;
}